@font-face {
    font-family: "OrelegaOne";
    src: url(../Fonts/OrelegaOne-Regular.ttf);
}
@font-face {
    font-family: "InknutAntiqua";
    src: url(../Fonts/InknutAntiqua-SemiBold.ttf);
}
@font-face {
    font-family: "MedievalSharp";
    src: url(../Fonts/MedievalSharp-Regular.ttf);
}

.header {
    grid-area: header;
    position: relative;
    width: 100%;
    height: 8vw;
    padding: 0 2vw;
    background: linear-gradient(to bottom, #460F0F, #221212);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: top 1s ease;
}

.scrollable-header {
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 6vw; 
    height: 6vw; 
    border: 0.1vw ridge rgba(236, 172, 107, 0.6);
    border-radius: 50%;
    margin-left: -1.5vw;
    display: flex;
}

.logo:hover {
    border-color: rgb(241, 201, 109);
    box-shadow: 0px 0px 0.5vw 0px rgb(255, 255, 152);
}

.navbar {
    width: 100%;
    height: 4vw;
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar > ul {
    list-style: none;
}

.navbar > ul > li {
    display: inline-block;
    margin: 0 2vw; 
    position: relative;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: #efefef;
    font-size: 1.25vw;
    padding: 0.6vw 1.2vw; 
    border-radius: 1.25vw; 
    background-color: rgba(178, 25, 25, 0.3); 
    transition: background-color 0.5s ease; 
}

.navbar ul li a:hover {
    color: #460F0F;
    border-bottom: 0.25vw solid #efefef;
}

.navbar > ul > li > a:hover {
    background-color: rgba(241, 201, 109, 0.8); 
    box-shadow: 0px 0px 5vw 0px rgb(255, 255, 81);
}

.navbar ul li a#on_nav{
    text-decoration: underline;
    color: rgb(196, 75, 75);
    background-color: #ffe8b3;
}

.navbar .toggle_btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

#bars{
    width: 5vw;
}

.dropdown_menu li a#on_nav{
    color: #f1c96d;
}
/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 12vw;
    top: 6vw;
    height: 0;
    width: 75vw;
    background: rgba(105, 24, 16, 0.9); 
    backdrop-filter: blur(15px); 
    border-radius: 2vw;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
}

.dropdown_menu li {
    padding: 0.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vw;
}

.dropdown_menu.open {
    height: 30vw;
    margin-top: 12vw;
}

.dropdown_menu a {
    text-decoration: none; 
    color: #efefee;
    font-size: 3vw;
    transition: color 0.3s; 
}

.dropdown_menu a:hover {
    color: #f1c96d; 
}

.dropdown_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown_menu li {
    padding: 1vw;
    transition: background-color 0.3s;
}
.dropdown_menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



/* footer  */

.footer {
    width: 100%;
    background-color: #460F0F;
    z-index: 999;
}
.footer .footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5vw;
    padding: 1vw;
}
.footer_row .footer_col {
    flex: 1 1 20%; 
}
.footer_row .footer_col h4 {
    color: #fff;
    font-size: 1vw;
    font-weight: 900;
}
.footer_row .footer_col h4:hover {
    text-shadow: 0 0 0.5vw rgba(255, 255, 152, 0.8);
}
.footer_col .fill {
    margin-top: 1vw;
}
.footer_col .fill li, .footer_col h4 {
    list-style: none;
    margin-bottom: 0.5vw;
    color: #bfbfbf;
}
.footer_col .fill li{
    font-size: 1vw;
}
.footer_col .fill li a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 1vw;
}
.footer_col .fill li a:hover {
    color: #fff;
}
.footer_col p {
    margin: 1vw 0;
    color: #bfbfbf;
    font-size: 1vw;
}
.footer_col form {
    display: flex;
    gap: 0.5vw;
}
.footer_col input {
    height: 3vw;
    border-radius: 0.6vw;
    background: none;
    width: 100%;
    outline: none;
    border: 0.1vw solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 0.5vw;
    font-size: 1.1vw;
}
.footer_col input::placeholder {
    color: #ccc;
    text-align: center;
}
.footer_col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 0.8vw 1.2vw;
    border-radius: 0.6vw;
    cursor: pointer;
    font-weight: 200;
    transition: 0.2s ease;
}
.footer_col form button {
   font-size: 1vw;
   font-weight: 200;
}
.footer_col form button:hover {
    background: #cecccc;
}
.footer_col input::placeholder {
    font-size: 1vw;
}
.footer_col img {
    display: block;
    margin: auto;
    width: 6vw;
    max-height: 100%;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}
.footer_col img:hover {
    box-shadow: 0 0 1vw rgba(206, 204, 204, 0.8);
}

.footer_col .icons {
    display: flex;
    margin-top: 1vw;
    gap: 1vw;
    cursor: pointer;
}

#icon{
    width: 1.5vw;
    display: flex;
}

#icon:hover  {
    color: #fff;
}

@media screen and (min-width:541px) and (max-width: 1024px){
    .navbar > ul > li > a {
        font-size: 1.9vw;
    }
    .footer_row .footer_col h4 {
        font-size: 1.5vw;
    }
    .footer_col .fill li{
        font-size: 1.3vw;
    }
    .footer_col .fill li a {
        font-size: 1.3vw;
    }
    .footer_col p {
        font-size: 1.3vw;
    }
    .footer_col form {
        gap: 0.1vw;
    }
    .footer_col input::placeholder {
        font-size: 1.3vw;
    }
    .footer_col form button {
       font-size: 1.3vw;
    }
}

@media screen and (min-width: 300px) and (max-width: 540px){
    .header {
        height: 18vw;
    }   
    .logo {
        width: 12vw; 
        height: 12vw; 
    }
    .navbar > ul{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .footer .footer_row{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer_row .footer_col h4 {
        font-size: 1.8vw;
    }
    .footer_col .fill li{
        font-size: 1.4vw;
    }
    .footer_col .fill li a {
        font-size: 1.4vw;
    }
    .footer_col p {
        font-size: 1.4vw;
    }
    .footer_col form {
        gap: 0.1vw;
    }
    .footer_col input::placeholder {
        font-size: 1.4vw;
        width: 105%;
    }
    .footer_col form button {
       font-size: 1.4vw;
       font-weight: 200;
    }
    .icons{
        justify-content: center;
    }
}