*{  
    margin: 0;
    padding: 0;
    font-family: "OrelegaOne";
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgba(236, 216, 171, 1), rgba(239, 196, 99, 0.8));
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    display: none;
}
/* CONTENT */
.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header"
    "content1"
    "content2"
    "content3";
}

/* content 1 style */
.header{
    grid-area: "header";
}
.content1{
    grid-area: "content1";
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5vw;
}

.content1 h1 { 
    padding: 2vw;
    text-align: center;
    font-size: 1.2vw; 
    color: #ffffff;
    font-weight: 100; 
    background-color: rgb(70, 15, 15);
    border-radius: 1.5vw; 
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.8);
}

/* content2  */
.content2{
    grid-area: "content2";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    overflow: hidden;
}
.RunningText {
    background: linear-gradient(to right, #460F0F, #f0c361, #460F0F);
    width: 100%;
    direction: right; 
    font-family: "InknutAntiqua";
    font-style: oblique;  
    font-size: 1vw;
    color: #efefef;
    animation: slide 18s infinite linear;
    text-shadow: rgb(249, 73, 38) 1px 0 0.5vw;
    border-radius: 5vw;
    text-align: center;
    text-decoration: underline; 
    text-decoration-color: #fff;
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* content3 style */
.content3{
    grid-area: "content3";
}

.box{    
    width: 45vw;
    padding: 2vw;
    border-radius: 7vw;
    margin: 2vw auto;
    box-shadow: 0 0 5vw rgba(86, 2, 2, 0.8);
}

h2{
    text-align: center;
    color: #460F0F;
    font-family: "InknutAntiqua";
    font-size: 2.2vw;
}

form{
    display: grid;
    grid-gap: 1vw;
}

label.title{
    color: #460F0F;
    font-size: 1.2vw;
}

label.title:hover{
    text-decoration-line: overline;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error_txt{
    color: red;
    font-family: "InknutAntiqua";
    font-size: 1.2vw;
}

input::placeholder{
    font-size: 1vw;
}

input[type="text"], input[type="email"],input[type="password"],textarea,select {
  padding: 1vw;
  border: 0.3vw solid #551a1a;
  border-radius: 2vw;
  font-size: 1vw;
}
textarea #address{
    height: 5vw;
}
.button_form{
    padding: 1vw;
    font-size: 1.2vw;
    background-color: #551a1a;
    color: #fff;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
}
.button_form:hover{
    background-color: green;
}
/* RESPONSIVE DESIGN */

                    /* tablet */
@media screen and (min-width:541px) and (max-width: 1024px){
    .content1 h1 { 
        font-size: 1.8vw; 
    }
    .RunningText {
        font-size: 1.5vw;
    }
    .box{    
        width: 45vw;
    }
    h2{
        font-size: 2.8vw;
    }
    label.title{
        font-size: 2vw;
    }
    .button_form{
        font-size: 2vw;
    }
}
                    /* mobilephone */
@media screen and (min-width: 300px) and (max-width: 540px){
    .content1 h1 { 
        font-size: 2.3vw; 
    }
    .RunningText {
        font-size: 2.4vw;
    }
    .box{    
        width: 65vw;
        height: 80vw;
    }
    h2{
        font-size: 3vw;
    }
    label.title{
        font-size: 2.5vw;
    }
    input[type="text"], input[type="email"],input[type="password"],textarea,select {
       font-size: 1.5vw;
    }
    .button_form{
        margin-top: 7vw;
        font-size: 2vw;
    }
}