@font-face {
    font-family: "OrelegaOne";
    src: url(../Fonts/OrelegaOne-Regular.ttf);
}

@font-face {
    font-family: "InknutAntiqua";
    src: url(../Fonts/InknutAntiqua-SemiBold.ttf);
}

*{  
    margin: 0;
    padding: 0;
    font-family: "OrelegaOne";
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgba(236, 216, 171, 1), rgba(239, 196, 99, 0.8));
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    display: none;
}

/* header and navbar style */
.header{
    position: relative;
    width: 100%;
    height: 7.5rem;
    padding: 0 2rem; 
    background: linear-gradient(to bottom,#460F0F ,#221212);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: top 1s ease;
}

.scrollable-header {
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 6rem; 
    height: 6rem; 
    border: 1px ridge rgba(236, 172, 107, 0.6);
    border-radius: 50%;
    margin-left: -1.5rem; 
}

.logo:hover {
    border-color: rgb(241, 201, 109);
    box-shadow: 0 0 10px rgba(206, 204, 204, 0.8); 
}

.navbar {
    width: 100%;
    height: 4rem;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar > ul {
    list-style: none;
}

.navbar > ul > li {
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar > ul > li > a {
    text-decoration: none;
    color:#efefef;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem; 
    border-radius: 1.25rem; 
    background-color: rgba(178, 25, 25, 0.3); 
    transition: background-color 0.5s ease; 
}

.navbar ul li a:hover {
    color: #460F0F;
    border-bottom: 5px solid #f1c96d;
}

.navbar > ul > li > a:hover {
    background-color: rgba(236, 216, 171, 0.8); 
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #460F0F;
    color:#f1c96d;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul li a#on_nav{
    text-decoration: underline;
    color: rgb(196, 75, 75);
    background-color: #ffe8b3;
}

.dropdown_menu li a#on_nav{
    color: #f1c96d;
}

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #460F0F;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu a {
    text-decoration: none; 
    color: #efefee;
    font-weight: bold; 
    transition: color 0.3s; 
}

.dropdown_menu a:hover {
    color: #f1c96d; 
}

.dropdown_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown_menu li {
    padding: 10px;
    transition: background-color 0.3s;
}

.dropdown_menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/* CONTENT */
.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.7fr;
    grid-template-areas: 
    "content1"
    "content2"
    "content3"
    "content4"
    ;
}

/* content 1 style */
.content1{
    grid-area: content1;
    margin: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content1 h1 { 
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem; 
    color: #ffffff;
    font-weight: 100; 
    background-color: rgb(70, 15, 15);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* content2  */
.content2{
    grid-area: content2;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.RunningText {
    background: linear-gradient(to right, #460F0F, #f0c361, #460F0F);
    width: 100%;
    direction: right; 
    font-family: "InknutAntiqua";
    font-style: oblique;  
    color: #efefef;
    animation: slide 18s infinite linear;
    text-shadow: rgb(249, 73, 38) 1px 0 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: underline; 
    text-decoration-color: #fff;
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* content3 style */
.content3{
    grid-area: content3;
    margin-bottom: 5rem;
}
.box{    
    width: 500px;
    margin: 40px auto;
    padding: 2rem;
    border-radius: 90px;
    box-shadow: 0 0 50px rgba(86, 2, 2, 0.8);
}

h2{
    margin-bottom: 2rem;
    text-align: center;
    color: #460F0F;
    font-family: "InknutAntiqua";
    font-size: 2.2rem;
}

form{
    display: grid;
    grid-gap: 15px;
}

label.title{
    color: #460F0F;
    font-size: 1.2rem;
}

label.title:hover{
    text-decoration-line: overline;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error_txt{
    color: red;
    font-family: "InknutAntiqua";
}

input[type="text"], input[type="email"],input[type="password"],textarea,select {
  padding: 10px;
  border: 3px solid #551a1a;
  border-radius: 20px;
}


.button_form{
    width: auto;
    padding: 10px;
    font-size: 1rem;
    background-color: #551a1a;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.button_form:hover{
    background-color: green;
}
  
/* content4 */
.content4{
    grid-area: content4;
}
/* Footer Style */
.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #460F0F;
}

.footer .footer_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 30px;
}

.footer_row .footer_col {
    flex: 1 1 20%; 
}

.footer_row .footer_col h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.footer_row .footer_col h4:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 152, 0.8);
}

.footer_col .fill {
    margin-top: 10px;
}

.footer_col .fill li, .footer_col h4 {
    list-style: none;
    margin-bottom: 5px;
    color: #bfbfbf;
}

.footer_col .fill li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer_col .fill li a:hover {
    color: #fff;
}

.footer_col p {
    margin: 10px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer_col form {
    display: flex;
    gap: 5px;
}

.footer_col input {
    height: 30px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 5px;
}

.footer_col input::placeholder {
    color: #ccc;
}

.footer_col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.2s ease;
}

.footer_col form button:hover {
    background: #cecccc;
}

.footer_col .icons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
}

.footer_col .icons i {
    color: #afb6c7;
}

.footer_col .icons i:hover  {
    color: #fff;
}

.footer_col img {
    display: block;
    margin: auto;
    width: 40%; 
    max-height: 100%; 
    border-radius: 50%;
    transition: box-shadow 0.3s ease; 
}

.footer_col img:hover {
    box-shadow: 0 0 10px rgba(206, 204, 204, 0.8); 
}
 
/* RESPONSIVE DESIGN */

                    /* tablet */
             /*  ##### IPAD PRO ##### */
@media screen and (min-width:975px) and (max-width: 1024px){
    .navbar > ul > li > a {
        font-size: 1.5rem;
    }
}
                    /* mobilephone */
             /*  ##### IPHONE 14 PRO MAX ##### */
@media screen and (min-width:300px) and (max-width: 540px){
    /* navbar  */
    .navbar > ul{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .logo{
        width: 4.5rem; 
        height: 4.5rem; 
        margin-left: -0.1rem;
    }
    #logo_pict{
        width: 4.5rem;
        height: auto;
    }
    /* content 1 */
    .content1{
        margin: 2rem;
    }
    /* content2  */
    .content1 h1 {
        font-size: 1rem; 
    }
    .RunningText {
        padding: 0.2rem;
        font-size: 0.6rem; 
    }
    .box{    
        width: 90%;
        padding: 1.2rem;
    }
    h2{
        margin-bottom: 0.8rem;
        font-size: 1.8rem;
    }
    form {
        grid-gap: 5px;
    }
    .button_form{
        width: 60%;
        position: relative;
        left: 5rem;
    }
    #error_txt{
        font-size: 0.8rem;
    }
    /* footer style */
    .footer_col p {
        margin: 5px 0;
        max-width: 500px;
        font-size: 0.7rem;
    }
    
    .footer_row .footer_col h4 {
        font-size: 0.8rem;
    }

    .footer_col .fill {
        font-size: 0.7rem;
    }  
}

