@font-face {
    font-family: "OrelegaOne";
    src: url(../Fonts/OrelegaOne-Regular.ttf);
}

@font-face {
    font-family: "InknutAntiqua";
    src: url(../Fonts/InknutAntiqua-SemiBold.ttf);
}

*{  
    margin: 0;
    padding: 0;
    font-family:"OrelegaOne";
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgba(236, 216, 171, 1), rgba(239, 196, 99, 0.8));
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    display: none;
}

/* header and navbar style */
.header{
    position: relative;
    width: 100%;
    height: 7rem;
    padding: 0 2rem; 
    background: linear-gradient(to bottom,#460F0F ,#221212);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: top 1s ease;
}

.scrollable-header {
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 6rem; 
    height: 6rem; 
    border: 1px ridge rgba(236, 172, 107, 0.6);
    border-radius: 50%;
    margin-left: -1.5rem; 
}

.logo:hover {
    border-color: rgb(241, 201, 109);
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}

.navbar {
    width: 100%;
    height: 4rem;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar > ul {
    list-style: none;
}

.navbar > ul > li {
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar > ul > li > a {
    text-decoration: none;
    color:#efefef;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem; 
    border-radius: 1.25rem; 
    background-color: rgba(178, 25, 25, 0.3); 
    transition: background-color 0.5s ease; 
}

.navbar ul li a:hover {
    color: #460F0F;
    border-bottom: 5px solid #f1c96d;
}

.navbar > ul > li > a:hover {
    background-color: rgba(236, 216, 171, 0.8); 
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #460F0F;
    color:#f1c96d;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul li a#on_nav{
    text-decoration: underline;
    color: rgb(196, 75, 75);
    background-color: #ffe8b3;
}

.dropdown_menu li a#on_nav{
    color: #f1c96d;
}

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #460F0F;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu a {
    text-decoration: none; 
    color: #efefee;
    font-weight: bold; 
    transition: color 0.3s; 
}

.dropdown_menu a:hover {
    color: #f1c96d; 
}

.dropdown_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown_menu li {
    padding: 10px;
    transition: background-color 0.3s;
}

.dropdown_menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* CONTENT */
.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.7fr;
    grid-template-areas: 
    "content1 content1"
    "content2 content2"
    "content3 content3" 
    "content4 content5"
    "content6 content6"
    ;
}

/* content 1 style */
.content1{
    grid-area: content1;
    background-image: url(./AssetHP/Castle_Opening.png);
    background-size: cover;
    width: 100%;
    height: auto;
}

.rectangle{
    width: 45rem;
    height: 42.625rem;
    position: inherit;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
}

.rectangle h1 {
    color: #611212;
    margin-bottom: 0.625rem; 
    font-size: 2.5rem;
}

.rectangle p {
    color: #611212;
    font-family: 'InknutAntiqua', serif;
    font-size: 2.2rem;
}

.Register_Button {
    margin-top: 100px;
    display: inline-block;
    padding: 0.3125rem 0.9375rem;
    font-size: 1.5rem;
    background-color:transparent;
    color:rgba(97, 18, 18);
    border: 2px solid rgba(97, 18, 18);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content; 
}

.Register_Button a{
    text-decoration: none;
    color: #611212;
}

.Register_Button:hover {
    background-color: rgb(255, 228, 130);
}

/* content2 style */
.content2{
    grid-area: content2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin-top: 3rem;
}

#see_more{
    padding: 0.8rem;
    border-radius: 20px;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #460F0F;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #f1c96d;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-family: "InknutAntiqua";
    font-weight: 100;
    color: white;
    font-size: 1.2rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #f1c96d;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.dragons-title {
    margin-bottom: 30px;
    font-size: 5rem;
    display: flex;
    margin-right: auto;
    justify-content: space-between;
}

.content3 .dragons-title {
    margin-bottom: 30px;
    display: flex;
    font-size: 5rem;
    margin-right: auto;
    justify-content: space-between;
    margin-right: 70%;
}

.dragons-title h2{
    color: #460F0F;
    font-size: 2rem;
}

.dragons-title button{
    position: absolute;
    right: 100px;
    color: white;
    font-size: 1rem;
    background-color: #460F0F;
    border: #460F0F;
    border-radius: 10%;
    cursor: pointer;
    transition: color 0.3s;
}

.dragons-title button:hover {
    color: #f1c96d;
}

/* content3 style */
.content3 {
    grid-area: content3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.dragonslider {
    width: 1300px;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.listdragon {
    position: absolute;
    width: 1300px;
    height: 700px; 
    max-width: max-content;
    max-height: max-content;
    display: flex;
    transition: 1s;
}

.listdragon img {
    width: 1300px;
    /* max-height: max-content;
    max-width: max-content; */
    height: 700px;
    object-fit: cover;
    /* padding: 0px 5px; */
    justify-content: center;
    border-radius: 1rem;
}

.drgbtn {
    width: 92%;
    display: flex;
    flex-direction: row;
    transform: translateY(-600%);
    z-index: 1;
    justify-content: space-between;
}

.drgbtn button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #460F0F;
    font-size: 1rem;
    border: #460F0F;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

/* content 4 style */
.content4{
    grid-area: content4;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: center;
    margin-left: 6rem;
}
.content4 img {
    display: flex;
}

/* content5 style */
.content5{
    grid-area: content5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    margin-right: 6rem;
}

.slidertestimoni{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.itemtesti{
    position: absolute;
    width: 280px;
    height: 400px;
    text-align: justify;
    background-image: url(AssetHP/backgroundReview.jpg);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

.itemtesti h2 {
    text-align: center;
    color: #ffff;
}

.itemtesti p{
    color: #ffff;
}

#nexttesti, #prevtesti {
    position: absolute;
    top: 40%;
    color: #460F0F;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 100px; /* Sesuaikan posisi sesuai kebutuhan */
    cursor: pointer;
}

#nexttesti {
    right: 40px; /* Sesuaikan posisi sesuai kebutuhan */
    left: unset;
}

/* content 6 */
.content6{
    grid-area: content6;
}
/* Footer Style */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #460F0F;
}
.footer .footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 20px;
}
.footer_row .footer_col {
    flex: 1 1 20%; 
}
.footer_row .footer_col h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 2400;
}
.footer_row .footer_col h4:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 152, 0.8);
}
.footer_col .fill {
    margin-top: 10px;
}
.footer_col .fill li, .footer_col h4 {
    list-style: none;
    margin-bottom: 5px;
    color: #bfbfbf;
}
.footer_col .fill li a {
    text-decoration: none;
    color: #bfbfbf;
}
.footer_col .fill li a:hover {
    color: #fff;
}
.footer_col p {
    margin: 10px 0;
    color: #bfbfbf;
    max-width: 300px;
}
.footer_col form {
    display: flex;
    gap: 5px;
}
.footer_col input {
    height: 30px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 5px;
}
.footer_col input::placeholder {
    color: #ccc;
}
.footer_col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.2s ease;
}
.footer_col form button:hover {
    background: #cecccc;
}
.footer_col .icons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
}
.footer_col .icons i {
    color: #afb6c7;
}
.footer_col .icons i:hover  {
    color: #fff;
}
.footer_col img {
    display: block;
    margin: auto;
    width: 40%; 
    max-height: 100%; 
    border-radius: 50%;
    transition: box-shadow 0.3s ease; 
}
.footer_col img:hover {
    box-shadow: 0 0 10px rgba(206, 204, 204, 0.8); 
}
  
/* RESPONSIVE DESIGN */
                        /* tablet */
                /*  ##### IPAD PRO ##### */
@media screen and (min-width: 975px) and (max-width: 1024px){
    .navbar > ul > li > a {
        font-size: 1.5rem;
    }
    .container{
        grid-template-areas: 
        "content1 content1"
        "content2 content2"
        "content3 content3" 
        "content4 content4"
        "content5 content5"
        "content6 content6"
        ;
    }
    /* content2 */
    .wrapper .carousel {
        margin-top: 3rem;
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    .dragons-title h2{
        position: absolute;
        left: 5rem;
    }

    /* content3 */
    .dragonslider {
        margin-top: 3rem;
        width: 900px;
        height: 600px; 
    }    

    .listdragon img {
        max-width: max-content;
        max-height: max-content;
        width: 900px;
        height: auto;
        padding: 0px 5px;
        border-radius: 5%;
    }

    /* content4 */
    .content4 {
        margin-left: 15rem;
    }

    .content5 {
        margin-bottom: 5rem;
    }
}

                    /* mobilephone */
             /*  ##### IPHONE 14 PRO MAX ##### */
@media screen and (min-width:300px) and (max-width: 540px){
    .navbar > ul{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .logo{
        width: 4.5rem; 
        height: 4.5rem; 
        margin-left: -0.1rem;
    }
    #logo_pict{
        width: 4.5rem;
        height: auto;
    }
    /* disesuaiin grid 4 sama 5 dipisah */
    .container{
        grid-template-areas: 
        "content1 content1"
        "content2 content2"
        "content3 content3" 
        "content4 content4"
        "content5 content5"
        "content6 content6"
        ;
    }
    /* content1 style */
    .rectangle{
        max-width: 20rem; 
        height: 20rem;
    }
    .rectangle h1 {
        font-size: 1.2rem; 
        margin-bottom: 5px;
    }
    .rectangle p {
        font-size: 0.8rem; 
    }
    .Register_Button{
        margin-top: 3px;
        font-size: 0.8rem;
    }
    /* content2 style */
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .dragons-title button{
        font-size: 1rem;
    }
    .carousel .card h2 {
        font-size: 1.2rem;
        margin: 10px 0 5px;
        text-align: center;
    }
    .carousel .card span {
        font-size: 1rem;
        text-align: center;
    }
    .dragons-title h2{
        font-size: 1.2rem;
        position: absolute;
    }
    #see_more{
        padding: 0.3rem;
        font-size: 0.7rem;
        position: absolute;
        right: 3.5rem;
    }
    /* content3 */
    .dragonslider {
        margin-top: 1rem;
        width: 350px;
        height: 220px; 
    }    
    
    .listdragon img {
        max-width: max-content;
        max-height: max-content;
        width: 350px;
        height: auto;
        padding: 0px 5px;
        border-radius: 5%;
    }
    
    .drgbtn {
        display: flex;
        font-size: smaller;
        transform: translateY(-15%);
        justify-content: center;
        width: 100%;
        position: relative; 
        gap: 5px;
    }
    .drgbtn button {
        max-width: 50px;
        max-height: 50px;
        gap: 10rem; 
    }
    /* content4 */
    .content4 {
        justify-content: center;
        margin-left: 5rem;
    }
    .content4 img {
        max-width: 271px;
        max-height: 260.5px;
    }

    /* content5 */
    .content5 {
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: center;
        /* align-content: center; */
        margin: 0;
    }

    .slidertestimoni {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    
    .itemtesti {
        width: 240px;
        height: 360px;
        text-align: justify;
        background-image: url(AssetHP/backgroundReview.jpg);
        border-radius: 10px;
        left: calc(50% - 120px);
        transition: 0.5s;
    }
    
    .itemtesti h2 {
        text-align: center;
        color: #ffff;
    }
    
    .itemtesti p {
        color: #ffff;
        font-size: smaller;
    }
    
    #nexttesti, #prevtesti {
        font-size: xx-large;
        cursor: pointer;
    }
    
    #nexttesti {
        right: 20px;
    }

    #prevtesti {
        left: 20px;
    }

    /* footer style */
    .footer_col p {
        margin: 5px 0;
        max-width: 500px;
        font-size: 0.7rem;
    }
    .footer_row .footer_col h4 {
        font-size: 0.8rem;
    }
    .footer_col .fill {
        font-size: 0.7rem;
    }  
}
