* {
    margin: 0;
    padding: 0;
    font-family: "OrelegaOne";
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(236, 216, 171, 1), rgba(239, 196, 99, 0.8));
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* CONTENT */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "content1"
    "content2"
    ;
    padding-bottom: 5vw;
    overflow: hidden;
}

.header {
    grid-area: "header";
}

/* content 1 style */
.content1 {
    grid-area: "content1";
    padding: 5vw;
}

.content1 h1 {
    padding: 2vw;
    text-align: center;
    font-size: 1.2vw;
    color: #ffffff;
    font-weight: 100;
    background-color: rgb(70, 15, 15);
    border-radius: 1.5vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.8);
}

/* content2 style */
.content2 {
    grid-area: "content2";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    position: relative;
}

.book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 50vw;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.front,
.back {
    background-image: url(./AssetIOB/Paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0.5vw solid #460F0F;
    border-radius: 1vw;
    transform-origin: left;
    transition: transform 1s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front_content,
.back_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back_content {
    transform: rotateY(180deg);
}

#titleCover {
    margin-top: 3vw;
}

#Dragons_Element {
    width: 70%;
    height: 90%;
}

#IOB_Island {
    width: 60%;
    height: 30%;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

#Island_Before {
    width: 60%;
    height: 25%;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

.book p {
    font-size: 1.2vw;
    padding: 0.8vw;
    text-align: justify;
    font-family: "MedievalSharp";
    font-weight: bold;
}

.book h1 {
    font-family: "MedievalSharp";
    font-weight: bold;
    font-size: 3vw;
}

#Island_After {
    width: 60%;
    height: 25%;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

#fight_images_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#Fight1,
#Fight2 {
    width: 35%;
    height: auto;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

#Zenithrax {
    margin-top: 0.2vw;
    width: 60%;
    height: 25%;
}

#ZeniKids {
    width: 35%;
    height: 20%;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

#IOBDone {
    width: 35%;
    height: 25%;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

#Afterlife {
    width: 45%;
    height: 25%;
    border: solid 0.2vw #70340a;
    border-radius: 1vw;
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

.button_book {
    border: none;
    background-color: transparent;
    color: #460F0F;
    cursor: pointer;
    font-size: 2vw;
    transition: transform 0.5s;
}

.button_book:focus {
    outline: none;
}

.button_book:hover i {
    color: #bd8604;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#prev_btn, #next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    cursor: pointer;
    font-size: 2vw;
    background-color: transparent;
    text-align: center;
    line-height: 5vw;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: transform 0.1s linear;
}

#prev_btn, #next_btn {
    color: #ffffff;
    background-color: #460F0F;
}

#prev_btn {
    left: 15vw; 
}

#next_btn {
    right: 15vw; 
}

.wrapper .button_book:active {
    transform: scale(0.85);
}

/* paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#prev_btn button,
#next_btn button {
    background-color: transparent;
}

/* RESPONSIVE DESIGN */
                                /* tablet */
@media screen and (min-width: 541px) and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "content1"
        "content2"
        ;
        padding-bottom: 0;
    }
    
    .content1 h1 {
        font-size: 1.8vw;
    }

    .content2 {
        flex-direction: column;
        padding: 0;
    }

    .book {
        width: 42vw;
        height: 60vw;
    }

    .book p {
        font-size: 1.5vw;
    }

    .book h1 {
        font-size: 2vw;
    }

    .button_book {
        font-size: 1vw;
    }

    .wrapper {
        max-width: 45vw;
        height: 50vw;
        margin: 0 0.5vw 0.5vw 0;
        display: flex;
        align-items: center;
        margin-top: 10vw;
        margin-bottom: 17.3vw;
    }

    #prev_btn, #next_btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        height: 5vw;
        width: 5vw;
        cursor: pointer;
        font-size: 2vw;
        text-align: center;
        line-height: 5vw;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: transform 0.1s linear;
    }

    #prev_btn {
        left: 20vw; 
    }
    
    #next_btn {
        right: 20vw; 
    }
}

                            /* mobile phone */
@media screen and (min-width: 300px) and (max-width: 540px) {
    .content1 h1 {
        font-size: 2.3vw;
    }

    .content2 {
        flex-direction: column;
        height: 100vw;
        margin-top: 10vw;
        align-items: center;
        margin-bottom: 18.3vw;
    }

    .book {
        width: 48vw;
        height: 85vw;
    }

    .book p {
        font-size: 2vw;
    }

    .book h1 {
        font-size: 2.5vw;
    }

    .button_book {
        font-size: 2vw;
        margin-top: 8vw;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    #prev_btn {
        position: relative;
        top: 1vw;
        left: 0vw;
        transform: translateY(0);
        border-radius: 50%;
        height: 6vw;
        width: 6vw;
        cursor: pointer;
        font-size: 3vw;
        text-align: center;
        line-height: 3vw;
        transition: transform 0.1s linear;
    }

    #next_btn {
        position: relative;
        top: 1vw;
        right: 0vw;
        transform: translateY(0);
        border-radius: 50%;
        height: 6vw;
        width: 6vw;
        cursor: pointer;
        font-size: 3vw;
        text-align: center;
        line-height: 3vw;
        transition: transform 0.1s linear;
    }
}