@font-face {
    font-family: "OrelegaOne";
    src: url(../Fonts/OrelegaOne-Regular.ttf);
}
@font-face {
    font-family: "InknutAntiqua";
    src: url(../Fonts/InknutAntiqua-SemiBold.ttf);
}
@font-face {
    font-family: "MedievalSharp";
    src: url(../Fonts/MedievalSharp-Regular.ttf);
}

*{  
    margin: 0;
    padding: 0;
    font-family: "OrelegaOne";
    box-sizing: border-box;
}
 
body{
    background: linear-gradient(to bottom, rgba(236, 216, 171, 1), rgba(239, 196, 99, 0.8));
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    display: none;
}

/* header and navbar style */
.header{
    position: relative;
    width: 100%;
    height: 7rem;
    padding: 0 2rem; 
    background: linear-gradient(to bottom,#460F0F ,#221212);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: top 1s ease;
}

.scrollable-header {
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 6rem; 
    height: 6rem; 
    border: 1px ridge rgba(236, 172, 107, 0.6);
    border-radius: 50%;
    margin-left: -1.5rem; 
}

.logo:hover {
    border-color: rgb(241, 201, 109);
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}

.navbar {
    width: 100%;
    height: 4rem;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar > ul {
    list-style: none;
}

.navbar > ul > li {
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar > ul > li > a {
    text-decoration: none;
    color:#efefef;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem; 
    border-radius: 1.25rem; 
    background-color: rgba(178, 25, 25, 0.3); 
    transition: background-color 0.5s ease; 
}

.navbar ul li a:hover {
    color: #460F0F;
    border-bottom: 5px solid #f1c96d;
}

.navbar > ul > li > a:hover {
    background-color: rgba(236, 216, 171, 0.8); 
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #460F0F;
    color:#f1c96d;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul li a#on_nav{
    text-decoration: underline;
    color: rgb(196, 75, 75);
    background-color: #ffe8b3;
}

.dropdown_menu li a#on_nav{
    color: #f1c96d;
}

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #460F0F;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu a {
    text-decoration: none; 
    color: #efefee;
    font-weight: bold; 
    transition: color 0.3s; 
}

.dropdown_menu a:hover {
    color: #f1c96d; 
}

.dropdown_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown_menu li {
    padding: 10px;
    transition: background-color 0.3s;
}

.dropdown_menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* CONTENT */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.7fr;
    grid-template-areas: 
    "content1"
    "content2"
    "content3"
    ;
}

/* content 1 style */
.content1{
    grid-area: content1;
}

.content1 h1 {
    margin : 5rem;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem; 
    color: #ffffff;
    font-weight: 100; 
    background-color: rgb(70, 15, 15);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}

/* content2 style */
.content2{
    grid-area: content2;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 10rem;
}
.book{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}
.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}
.front, .back{
    background-image: url(./AssetIOB/Paper.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    border: 5px solid #460F0F;
    border-radius: 20px;
    transform-origin: left;
    transition: transform 1s;
}
.front{
    z-index: 1;
    backface-visibility: hidden;
}
.back{
    z-index: 0;
}
.front_content,.back_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back_content{
    transform: rotateY(180deg);
}
#titleCover{
    margin-top: 3rem;
}
#Dragons_Element{
    width: 70%;
    height: 90%;
}
#IOB_Island{
    width: 60%;
    height: 30%;
    border: solid 2px #70340a;
    border-radius: 1rem;
}
#Island_Before{
    width: 60%;
    height: 25%;
    border: solid 2px #70340a;
    border-radius: 1rem;
}
.book p{
    font-size: 0.8rem;
    padding: 0.8rem;
    text-align: justify;
    font-family:"MedievalSharp";
    font-weight: bold;
}
.book h1{
    font-family:"MedievalSharp";
    font-weight: bold;
}
#Island_After{
    width: 60%;
    height: 25%;
    border: solid 2px #70340a;
    border-radius: 1rem;
}
#fight_images_container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
}
#Fight1,
#Fight2 {
    width: 35%; 
    height: auto; 
    border: solid 2px #70340a;
    border-radius: 1rem;
}
#Zenithrax{
    margin-top: 0.2rem;
    width: 60%;
    height: 25%;
}
#ZeniKids{
    width: 35%;
    height: 20%;
    border: solid 2px #70340a;
    border-radius: 1rem;
}
#IOBDone{
    width: 35%;
    height: 25%;
    border: solid 2px #70340a;
    border-radius: 1rem;
}
#Afterlife{
    width: 45%;
    height: 25%;
    border: solid 2px #70340a;
    border-radius: 1rem;
}
.flipped .front, .flipped .back{
    transform: rotateY(-180deg);
}
.button_book{
    border: none;
    background-color: transparent;
    color: #460F0F;
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    transition: transform 0.5s;
}
.button_book:focus{
    outline: none;
}
.button_book:hover i{
    color: #bd8604;
}
/* paper stack order */
#p1{
    z-index: 3;
}
#p2{
    z-index: 2;
}
#p3{
    z-index: 1;
}

/*content3*/
.content3{
    grid-area: content3;
}
/* Footer Style */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #460F0F;
}
.footer .footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 20px;
}
.footer_row .footer_col {
    flex: 1 1 20%; 
}
.footer_row .footer_col h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 2400;
}
.footer_row .footer_col h4:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 152, 0.8);
}
.footer_col .fill {
    margin-top: 10px;
}
.footer_col .fill li, .footer_col h4 {
    list-style: none;
    margin-bottom: 5px;
    color: #bfbfbf;
}
.footer_col .fill li a {
    text-decoration: none;
    color: #bfbfbf;
}
.footer_col .fill li a:hover {
    color: #fff;
}
.footer_col p {
    margin: 10px 0;
    color: #bfbfbf;
    max-width: 300px;
}
.footer_col form {
    display: flex;
    gap: 5px;
}
.footer_col input {
    height: 30px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 5px;
}
.footer_col input::placeholder {
    color: #ccc;
}
.footer_col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.2s ease;
}
.footer_col form button:hover {
    background: #cecccc;
}
.footer_col .icons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
}
.footer_col .icons i {
    color: #afb6c7;
}
.footer_col .icons i:hover  {
    color: #fff;
}
.footer_col img {
    display: block;
    margin: auto;
    width: 40%; 
    max-height: 100%; 
    border-radius: 50%;
    transition: box-shadow 0.3s ease; 
}
.footer_col img:hover {
    box-shadow: 0 0 10px rgba(206, 204, 204, 0.8); 
}
/* RESPONSIVE DESIGN */

                        /* tablet */
             /*  ##### IPAD PRO ##### */
@media screen and (min-width:611px) and (max-width: 1024px){
    .navbar > ul{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .logo{
        width: 4.5rem; 
        height: 4.5rem; 
        margin-left: -0.1rem;
    }
    #logo_pict{
        width: 4.5rem;
        height: auto;
    }
}

                        /* mobilephone */
             /*  ##### IPHONE 14 PRO MAX ##### */
@media screen and (min-width:400px) and (max-width: 610px){
    .navbar > ul{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .logo{
        width: 4.5rem; 
        height: 4.5rem; 
        margin-left: -0.1rem;
    }
    #logo_pict{
        width: 4.5rem;
        height: auto;
    }
    /* content1 style  */
    .content1 h1{
        margin: 2rem;
        font-size: 1rem;
    }
    /* content 2 */
    .content2{
        margin-bottom: 3rem;
        flex-direction: column;
    }
    .book{
        width: 200px;
        height: 350px;    
    }
    .button_book{
        font-size: 1.2rem; 
    }
    #prev_btn, #next_btn{
        margin: 1rem;
    }
    .front_content h1,
    .back_content h1 {
        font-size: 1.1rem; 
    }
    #b1 p{
        font-size: 0.625rem;
        padding: 0.5rem;
    }
    #IOB_Island{
        width: 55%;
        height: 20%;
    }
    #Island_Before{
        width: 55%;
        height: 20%;
    }
    .book p{
        font-size: 0.55rem;
        padding: 0.2rem;
    }
    .book h1{
        font-size: 0.8rem;
    }
    #Island_After{
        width: 55%;
        height: 25%;
        border: solid 2px #70340a;
        border-radius: 1rem;
    }
    #IOBDone{
        width: 60%;
        height: 25%;
    }
    #Afterlife{
        width: 45%;
        height: 20%;
    }
    /* footer style */
    .footer_col p {
        margin: 5px 0;
        max-width: 500px;
        font-size: 0.7rem;
    }
    .footer_row .footer_col h4 {
        font-size: 0.8rem;
    }
    .footer_col .fill {
        font-size: 0.7rem;
    }  
}

